body {
    font-family: 'PT Sans', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: .25em 30px;
    color: #111;
    margin: 0;
}
    @media (max-width: 640px) {
        body {
            padding: .125em 15px;
        }
    }

a:link {
    color: #009;
    text-decoration: none;
}
a:visited {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active, a:focus {
    color: #900;
    text-decoration: underline;
}

.table-wrapper {
    overflow: auto;
    margin: 0 30px 10px -15px;
    -webkit-overflow-scrolling: touch;
    display: inline-block;
    vertical-align: top;
}

table {
    border: 0;
    border-top: 1px solid #ccc;
    border-collapse: collapse;
    display: inline-table;
}
    th, td {
        text-align: left;
        vertical-align: top;
        padding: 5px 15px;
    }
        th:first-child, td:first-child {
            padding-left: 15px !important;
        }
        th:last-child, td:last-child {
            padding-right: 15px !important;
        }

    td {
        border-bottom: 1px solid #ccc;
    }

    td.number {
        text-align: right;
    }

    .warning-major {
        background-color: #ffffe3;
    }

    .warning-critical {
        background-color: #fdd;
    }

    .warning-blocker {
        background-color: #faa;
    }

    tbody.delimiter:not(:first-child) tr:first-child td {
        border-top: 3px solid #ccc;
    }

.cards-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}

dl {
    margin-bottom: 1em;
    display: inline-block;
    background: #f5f5f5;
    padding: 15px;
    vertical-align: top;
    margin-right: 15px;
    max-width: 400px;
}
    @media (max-width: 640px) {
        dl {
            max-width: auto;
            margin-right: 0;
        }
    }
    dt {
        font-weight: bold;
        margin-bottom: 1em;
        font-size: 1.2em;
    }
    dd {
        margin-left: 0;
    }
    dd.type {
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: bold;
    }
    dl a {
        display: block;
        font-size: .8em;
        margin-bottom: 1em;
        line-height: 1.15em;
    }
