<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Tax Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="design.css">
</head>
<body>
    <p>
        {{ time }},
        <small>
            <a href="{{filter_url}}" target="_blank">JIRA filter</a>,
            archive for:
            <a href="2014.html">2014</a>,
            <a href="2015.html">2015</a>,
            <a href="2016.html">2016</a>,
            <a href="2017.html">2017</a>,
            <a href="2018.html">2018</a>,
            <a href="2019-12-25.html">2019</a>
        </small>
    </p>
    <div class="tables">
        {% for group_name, group_teams in teams_groups.iteritems() %}
            <div class="table-wrapper">
                <table>
                    <tbody class="delimiter">
                        {% for team in group_teams %}
                            {% set teams_loop = loop %}

                            <tr{% if team.warning_level %} class="warning-{{ team.warning_level }}"{% endif %}>
                                <td>
                                    {{team.name}}
                                    {% if team.is_custom_tax_percent %} (налог {{ team.tax_percent }}%){% endif %}
                                </td>
                                <td class="number" title="back: {{ team.percent_backend }}, front: {{ team.percent_frontend }}, dual: {{ team.percent_dual }}">{{ team.percent_tax }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

    <div class="about">
        <p>Число в таблице — процент техналога команды с начала года. Каждая команда должна 30% своего времени тратить на техналог (если не указано иное в таблице в скобках после названия команды).</p>
        <p>Формула расчёта: (сумма Story Points портфелей команды с меткой tax) разделить на (сумму Story Points всех портфелей команды).</p>
        <p>Не забывайте проставлять метку tax и метки backend/frontend для всех техналожных портфелей.</p>
    </div>

    <div class="cards-wrapper">
        {% for team in details %}
            <dl>
                <dt>{{ team }}</dt>

                {% if details[team]['business'] %}
                    <dd class="type">Business</dd>
                    <dd>{% for i in details[team]['business'] %}<a target="_blank" href="https://{{ host }}/browse/{{i.key}}">{{i.key}} {{ i.summary }}</a> {% endfor %}</dd>
                {% endif %}

                {% if details[team]['backend'] %}
                    <dd class="type">Tax Backend</dd>
                    <dd>{% for i in details[team]['backend'] %}<a target="_blank" href="https://{{ host }}/browse/{{i.key}}">{{i.key}} {{ i.summary }}</a> {% endfor %}</dd>
                {% endif %}

                {% if details[team]['frontend'] %}
                    <dd class="type">Tax Frontend</dd>
                    <dd>{% for i in details[team]['frontend'] %}<a target="_blank" href="https://{{ host }}/browse/{{i.key}}">{{i.key}} {{ i.summary }}</a> {% endfor %}</dd>
                {% endif %}

                {% if details[team]['backfront'] %}
                    <dd class="type">Tax Dual</dd>
                    <dd>{% for i in details[team]['backfront'] %}<a target="_blank" href="https://{{ host }}/browse/{{i.key}}">{{i.key}} {{ i.summary }}</a> {% endfor %}</dd>
                {% endif %}
            </dl>
        {% endfor %}
    </div>

<p><small>Favicon made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small></p>

</body>
</html>

