<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Tax Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="design.css">
</head>
<body>
    <p>
        {{ time }},
        <small>
            <a href="{{filter_url}}" target="_blank">JIRA filter</a>,
            archive for:
            <a href="2014.html">2014</a>,
            <a href="2015.html">2015</a>,
            <a href="2016.html">2016</a>,
            <a href="2017.html">2017</a>,
            <a href="2018.html">2018</a>
        </small>
    </p>
    <div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Team</th>
                <th class="number">Business</th>
                <th class="number">Tax</th>
                <th class="secondary number">Of</th>
                <th class="secondary number">Backend</th>
                <th class="secondary number">Frontend</th>
                <th class="secondary number">Dual</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                {% set teams_loop = loop %}

                <tr class="{% if team.percents[1] <= team.highest_warning %}highest{% elif team.percents[1] <= team.high_warning %} high{% endif %}{% if team.name == custom_sort[0] %} delimiter{% endif %}">
                    <td>{{team.name}}</td>
                    {% for i in team.percents %}
                        <td class="number{% if loop.index > 2 %} secondary{% endif %}">
                            <span class="hang-wrapper">
                                {{ i }}
                                {% if loop.index == 1 and teams_loop.index == 1 %}<span class="hang">%</span>{% endif %}
                            </span>
                        </td>
                        {% if loop.index == 2 %}
                            <td class="secondary number{% if not team.is_custom_tax_percent %} default-percent{% endif %}">{{ team.tax_percent }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Average</td>
                {% for i in avgs %}
                    <td class="number{% if loop.index > 2 %} secondary{% endif %}">{{ i }}</td>
                    {% if loop.index == 2 %}
                        <td>&nbsp;</td>
                    {% endif %}
                {% endfor %}
            </tr>
        </tfoot>
    </table>
    </div>

    <div class="cards-wrapper">
        {% for team in details %}
            <dl>
                <dt>{{ team }}</dt>

                {% if details[team]['business'] %}
                    <dd class="type">Business</dd>
                    <dd>{% for i in details[team]['business'] %}<a target="_blank" href="https://{{ host }}/browse/{{i.key}}">{{i.key}} {{ i.summary }}</a> {% endfor %}</dd>
                {% endif %}

                {% if details[team]['backend'] %}
                    <dd class="type">Tax Backend</dd>
                    <dd>{% for i in details[team]['backend'] %}<a target="_blank" href="https://{{ host }}/browse/{{i.key}}">{{i.key}} {{ i.summary }}</a> {% endfor %}</dd>
                {% endif %}

                {% if details[team]['frontend'] %}
                    <dd class="type">Tax Frontend</dd>
                    <dd>{% for i in details[team]['frontend'] %}<a target="_blank" href="https://{{ host }}/browse/{{i.key}}">{{i.key}} {{ i.summary }}</a> {% endfor %}</dd>
                {% endif %}

                {% if details[team]['backfront'] %}
                    <dd class="type">Tax Dual</dd>
                    <dd>{% for i in details[team]['backfront'] %}<a target="_blank" href="https://{{ host }}/browse/{{i.key}}">{{i.key}} {{ i.summary }}</a> {% endfor %}</dd>
                {% endif %}
            </dl>
        {% endfor %}
    </div>

<p><small>Favicon made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small></p>

</body>
</html>

